*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: linear-gradient(to right, rgb(203, 0, 0), rgb(0, 10, 190)) ;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 30;
}

#pop{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 75vw;
    padding: 20px;
    background-color: rgb(237, 217, 217);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    text-align: center;
    z-index: 40;
}

#pop button{
    margin-top: 10px;
    padding: 8px;
    background-color: rgb(35, 215, 35);
    border: none;
    box-shadow: 1px 1px 0px 2px;
}

#pop button:hover{
    background-color: rgb(55, 255, 55);
    cursor: pointer;
}

.headings{
    display: flex;
    justify-content: space-around;
    font-size: 3vw;
    color: rgb(237, 228, 228);
    height: 74vh;
    padding-top: 1vh;
}

.headings img{
    display: none;
}

.user, .cpu{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-score, .cpu-score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etc{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 70vh;
    gap: 20vh;
}

#result-display{
    display: none;
}

#resetBtn{
    padding: 2vh;
    margin-top: 3vh;
    border-radius: 10px;
    background-color: #ff0000;
    color: rgb(237, 228, 228) ;
    box-shadow: 1px 1px 0.5px black;
}

#resetBtn:hover{
    transition: 0.4s;
    background-color: #7b0000;
    cursor: pointer;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21vh;
    padding-top: 3vh;
}

.options p {
    padding: 10px;
}

.buttons{
    display: flex;
    gap: 30px;
}

.buttons button{
    padding: 8px;
    width: 75px;
    height: 75px;
    box-shadow: 2px 2px 1px black;
}

#rockBtn{
    background: url("images/Rock-happy.png") ;
    background-size: contain;
}

#paperBtn{
    background: url("images/Paper-happy.png");
    background-size: contain;
}

#scissorsBtn{
    background: url("images/Scissors-happy.png");
    background-size: contain;
}

.options p {
    color: rgb(237, 228, 228) ;
    font-size: xx-large;
}




/* ********************************************************* */
/*                      MEDIA QUERY */
/* ********************************************************* */

@media (max-width: 1000px) {
    
    .headings{
        height: 65vh ;
        font-size: 2.6vh;
    }

    #pop{
        width: 75vw;
    }
    
    .user, .cpu{
        width: 38vw;
        height: 48vh;
    }
    
    .etc{
        width: 24vw;
        height: 65vh;
    }

    .etc button{
        font-size: large;
    }

    #userImg, #cpuImg{
        width: 37vw;
        height: auto;
    }

}
